doctype html
html
  head
    title= title
    script(src="/socket.io/socket.io.js")
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
  body
    block content
